<launch>
  <!-- Include the standard PX4 SITL launch file -->
  <include file="$(find px4)/launch/mavros_posix_sitl.launch">
    <arg name="world" value="$(find px4)/worlds/empty.world"/>
  </include>

  <!-- Add the camera sensor to the Iris model -->
  <node name="spawn_camera" pkg="gazebo_ros" type="spawn_model" args="-file $(find your_package)/models/iris_camera/model.sdf -sdf -model iris_with_camera" />

  <param name="robot_description" command="$(find xacro)/xacro '$(find your_package)/urdf/iris_with_camera.urdf.xacro'"/>
</launch>


https://discuss.px4.io/t/how-to-add-a-ros-camera-to-iris-for-gazebo-simulation/5118/6